body{
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
div{
    display: block;
}

.img0{
    background-image: url(../Images/Pillars\ of\ creation.png);
    min-height: 500px;
}
.img1{
    background-image: url(../Images/karina\ nebula.png);
    min-height: 350px;
}
.img2{
    background-image: url(../Images/StephensQuintet.png);
    min-height: 350px;
}
.img3{
    background-image: url(../Images/Southern\ Ring\ Nebula.png);
    min-height: 350px;
}
.img4{
    background-image: url(../Images/SMACS.png);
    min-height: 350px;
}

.img0, .img1, .img2, .img3, .img4{
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section{
    text-align: center;
    padding: 20px 50px;
    line-height: 1.5rem;    
}
.sec-light{
    background-color: #FCFFE7;
    color: #181818;
}
.sec-dark{
    background-color: #181818;
    color: #FCFFE7;
}
.htext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #FCFFE7;
    font-size: 2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px #181818;
}
.wrapper1{
    background-color: #181818;
    padding: 10px;
    border-radius: 5px;
}